@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Baro';
  src: url('/fonts/Baro Plain.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for better performance */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-baro);
  --font-mono: var(--font-baro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
